@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Besley, serif;
}    

body {
    background-color: white;      
}

.wrapper {
    max-height: 100vh;
}
.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.image img {
    border-radius: 50%;
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px 10px 30px; 
    background-color: #1F2937;   
}

ul {
    list-style: none;    
}

.links {
    display: flex;
    justify-content: space-between;        
}

li {
    padding: 4px 16px;    
    margin-left: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #E5E7EB; 
}

.information {
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;      
}

.hero {
    display:flex;
    justify-content: space-between; 
    background-color: #1F2937; 
    color: white;  
}

.hero-text {
    white-space: initial;
    font-size: 48px;
    font-weight: extra-bold; 
    color: #F9FAF8;    
    line-height: 40px;
    border-bottom: 20px;       
}

.hero-sub-text {
   font-size: 18px; 
   color: #E5E7EB;
}

.hero-image img {    
    padding: 12px; 
    margin-left: 25px ;
    margin-right: 25px; 
        
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;    
    margin-left: 25px;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;    
}

button {
    width: 100px;
    background-color: #3882F6;
    border-radius: 5px;
    height: 25px;
    border-color: #E5E7EB;
    color: white;    
}
.boxes {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    background-color: white;      
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #3882F6;
    text-align: center;  
    color: black;  
    background-color: white;
}


.subtext {
    display: flex;    
    align-items: center;
    justify-content:center;
    background-color: white;
    margin-top: 20px; 
    margin-bottom: 20px;       
    gap: 20px; 
}

.subtext p {
    text-align:center;    
    width: 200px;
    color: black;
}

.block-quote {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/ 
    margin: 20px 0 20px 0;    
    padding: 0px 20px 40px 20px;
    background-color: #E5E7EB;
    border-bottom: 40px;
    height: 200px;           
}

.inspiring-quote {
    text-align: left;     
    font-size: 30px;
    font-weight: light-italic;
    color: #1F2937; 
    line-height: 35px; 
    padding-top: 20px;    
}

.quote-from {
   text-align:right;
   padding: 20px 0 60px 0;
   color: black;
   font-weight: bold;
}

.call-to-action {
    display: flex;    
    background-color: #3882F6;
    justify-content: space-around; 
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;

}

.call {     
    display:flex;
    flex-direction: column; 
    background-color: #3882F6; 
    color: white;  
}


.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.p-call {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0; 
    background-color: #1F2937; 
    color: white; 
    height: 40px; 
}







