@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Besley, serif;
}    

body {
    background-color: white;      
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.image img {
    border-radius: 50%;
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    border: 1px solid red;
    padding: 20px;    
}

.logo-text {
    font-size: 25px;        
}

ul {
    list-style: none;    
}

.links {
    display: flex;
    justify-content: space-between;    
}

li {
    padding: 4px 16px;    
    margin-left: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: red;   
}

/*.title-1 {
    margin-bottom: 20px;    
    border: 1px solid red;   
}*/

.hero {
    display:flex;
    justify-content: space-between; 
    background-color: #1F2937; 
    color: white;  
}

.hero-text {
    white-space: initial;
    font-size: 48px;
    font-weight: extra-bold; 
    color: #F9FAF8;   
    line-height: 50px;    
}

.hero-image img {
    border: 1px solid red; 
    padding: 12px; 
    margin-left: 25px ;
    margin-right: 25px;      
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid red;
    margin-left: 25px;
    padding: 20px;
    justify-content: space-between;
}

button {
    width: 100px;
    background-color: #7bb2b9;
    border-radius: 10px;
    color: white;    
}
.title-1 {
    font-size: 24px;
    color: black;
    text-align: center;
    margin-top: 20px;   
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    background-color: white;      
}

.box {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 5px solid #3882F6;
    text-align: center;  
    color: black;  
    background-color: white;
}


.subtext {
    display: flex;        
    justify-content: space-evenly;
    align-items: center;  
    /*border: 1px solid red;  */
    background-color: white;
}

.subtext p {
    text-align:center;
    border: 1px solid red;
    width: 200px;
    color: black;
}

.block-quote {
    display: flex;
    flex-direction: column;
    border: 1px solid red; 
    margin: 10px;
    /*gap: 20px;*/
    padding: 20px;
    background-color: #E5E7EB;           
}

.inspiring-quote {
    text-align: left; 
    /*padding-left: 30%;*/
    /*padding-right: 30%;*/
    font-size: 36px;
    font-weight: italic;
    color: #1F2937;      
}

.quote-from {
   text-align: justify;
   padding-left: 60%;
   color: black;
   font-weight: bold;
}

.action {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    padding: 10px 0 10px 0;    
}

.call {
    padding-left: 20px;
}

.sign {
    padding-left: 20px;
}

.sign-up {
    border-color: white;
    background-color: #3882F6;    
    margin: 12px;
    width: 120px;
    height: 30px;
}

.footer {
    text-align: center;
    margin: 20px; 
    background-color: #1F2937; 
    color: white; 
    height: 80px; 
}







